<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="lastConnectServer" />
    <add key="lastConnectUser" />
    <add key="lastConnectPassword" />
    <add key="lastConnectAuthentication" />
  </appSettings>
  <system.data>
    <DbProviderFactories>

      <remove invariant="System.Data.SqlClient"></remove>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>